extends c

####################### MY OWN SNIPPETS ############################

snippet compi "Competitive Initial alias"
#include <vector>
#incldue <utility>

typedef long long ll;
typedef std::pair<int,int> ii;
typedef std::vector<ii> vii;
typedef std::vector<int> vi;
#define INF 1000000000
endsnippet

